*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignorar archivos APK generados
app/build/

# Ignorar artefactos de compilación de OpenCV
opencv/build/

# Ignorar bibliotecas nativas generadas
opencv/native/libs/

# Ignorar otras carpetas de compilación
*/build/

