*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Excluir archivos generados
/app/build/
/opencv/build/
/opencv/native/libs/
/opencv/native/3rdparty/libs/

# Excluir archivos APK
*.apk
*.aar